[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/loggerscripts-follow
Name=Logger Radio Connection
Icon=/usr/share/icons/loggerscripts/loggerscripts-follow.svg
