[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/loggerscripts-rigctld
Name=Logger rigctld
Icon=/usr/share/icons/loggerscripts/loggerscripts-rigctld.svg
